<div class="body">
  <div class="container">
    <div class="main">

      <div class="logo">
        <img src="../../assets/Rolls Royce Logo.png" width="160px" height="80px" alt="img" />
      </div>


      <div class="navbar">

        <ul>

          <li><a routerLink="/home" routerLinkActive="active"> Home</a></li>
          <li><a routerLink="/About" routerLinkActive="active">About Us</a></li>
          <li class="/drop"><a routerLink="/Service" routerLinkActive="active">Service</a></li>
          <li class="/dropdown" ><a routerLink="/Models" id="carDropdown" routerLinkActive="active">Models</a></li>

        </ul>
        <div class="subnav">
          <a routerLink="/loginnew" *ngIf="!usersuccess" routerLinkActive="active">Login </a>
        </div>
        <div class="subnav" id="logout" style="cursor: pointer;">
          <a *ngIf="usersuccess" routerLink="/viewdetails" routerLinkActive="active">View Update</a>
        </div>
        <div class="subnav" id="logout" style="cursor: pointer;">
          <a *ngIf="usersuccess" (click)="logout()" routerLinkActive="active">Logout</a>
        </div>


      </div>

    </div>

  </div>
