h2{
  font-size: 18px;
  font-family: poppins;
  margin-left: 20%;
  color: #53bef7;
}
.input-field input{
  width: 70%;
  height: 25px;
  padding: 5px;

}
button{
  width: 75%;
  height: 25px;
  margin-top: 20px;

}
.whole-content{
  margin-left: 20px;
}
