<div class="debit" [formGroup]="debitCardForm">
  <h2>Pay on Credit/Debit card</h2>
  <div class="credit-card" #inputval>


      <div class="cardNumber">
        <label for="">Debit/Credit Card Number: </label><br><br>
        <input type="text" name="cardNumber" formControlName="cardNumber" pattern="[0-9]{16}" id="field1" placeholder="Enter the 16 digits Card No" >
        <div class="cardNoValid" *ngIf="debitCardForm.controls['cardNumber'].dirty">
          <p *ngIf="debitCardForm.controls['cardNumber'].errors?.['required']">
            Enter the Field
          </p>
          <p *ngIf="debitCardForm.controls['cardNumber'].errors?.['pattern']">
            Enter the Valid Credit/Debit Card Number
          </p>
        </div>
        </div><br>
        <div class="month">
          <label for="">Expiration Date (MM/YY): </label><br><br>
          <input type="month" name="expireDate" formControlName="expireDate" id="field2">
          <div class="expDateValid" *ngIf="debitCardForm.controls['expireDate'].dirty">
            <p *ngIf="debitCardForm.controls['expireDate'].errors?.['required']">
             Please Enter the Field
            </p>
          </div>
          </div><br>
          <div class="ccv">
            <label for="">CCV Number:</label><br><br>
            <input type="text" name="ccvNumber" formControlName="ccvNumber" pattern="^[0-9]{3,4}$" id="field3" placeholder="CCV No">
            <div class="ccvValid" *ngIf="(debitCardForm.controls['ccvNumber'].dirty || debitCardForm.controls['ccvNumber'].touched) && debitCardForm.controls['ccvNumber'].invalid ">
              <p *ngIf="debitCardForm.controls['ccvNumber'].errors?.['required']">
               Please Enter the Field
              </p>
              <p *ngIf="debitCardForm.controls['ccvNumber'].errors?.['pattern']">
                Please Enter Valid CVV number
               </p>
            </div><br>
            <button [disabled]="debitCardForm.invalid" style="margin: 30px 50px 0px 50px;width: 70%;padding: 8px;color: white;font-size: 15px;background-color: #4ed4f2;cursor: pointer;" id="refchange" (click)="pay()">Pay</button>
      </div>
    </div>
    </div>
