<app-search (SearchValueChanged)="onSearchTextChanged($event)"></app-search>
<!-- <div class="search" [ngStyle]="{'width.px':'70px','padding.px':'10px','margin.px':'10px'}">
  <input type="text" #search (keyup)="0" >
  <button (click)="searchval(search)">Submit</button>
  <p>You Searched For:{{'  '+Text}}</p>
</div> -->
<!-- <app-buttonfilter
[total]="getTotalModel()"
[ghost]="getTotalGhost()"
[cullinan]="getTotalCullinan()"
[phantom]="getTotalPhantom()"
[wraith]="getTotalWraith()"
[dawn]="getTotalDawn()"
(fiterradiochange)="onFilterRadio($event)"
></app-buttonfilter> -->
<div class="images">
  <div class="news">
    <div class="News-content"style="margin-left: 50px;">
<ng-container *ngFor="let model of getExample">
  <!-- *ngIf="modelCount ==='All' || modelCount === model.type" -->
      <mat-card class="example-card" *ngIf="modelCount ===' ' || model.type.toLowerCase().includes(searchText)">
        <h5>{{model.id}}</h5>
       <mat-card-header>

         <mat-card-title><img src="{{model.imageUrl}}"style="width:200px;height: 150px;margin-top: 20px;"></mat-card-title>

       </mat-card-header>

       <mat-card-content>
        {{model.type}}

         <p>
          {{model.StartingPrice}}

         </p>


       </mat-card-content>

     </mat-card>
    </ng-container>
  </div>
</div>

