<div class="button">
  <span>Filter:</span>

  <input type="radio" name="filter" value="All" style="margin-left: 10px;"
  [(ngModel)]="searchradio"
  (change)="onradiobuttonchange()">
  <span style="margin-left: 5px;">{{'All Models('+all+')'}}</span>

  <input type="radio" name="filter" value="ghost" style="margin-left: 10px;"
  [(ngModel)]="searchradio"
  (change)="onradiobuttonchange()">
  <span style="margin-left: 5px;">{{'Ghost('+ghost+')'}}</span>

  <input type="radio" name="filter" value="cullinan" style="margin-left: 10px;"
  [(ngModel)]="searchradio"
  (change)="onradiobuttonchange()">
  <span style="margin-left: 5px;">{{'Cullinan('+cullinan+')'}}</span>

  <input type="radio" name="filter" value="phantom" style="margin-left: 10px;"
  [(ngModel)]="searchradio"
  (change)="onradiobuttonchange()">
  <span style="margin-left: 5px;">{{'Phantom('+phantom+')'}}</span>

  <input type="radio" name="filter" value="wraith" style="margin-left: 10px;"
  [(ngModel)]="searchradio"
  (change)="onradiobuttonchange()">
  <span style="margin-left: 5px;">{{'Wraith('+wraith+')'}}</span>

  <input type="radio" name="filter" value="dawn" style="margin-left: 10px;"
  [(ngModel)]="searchradio"
  (change)="onradiobuttonchange()">
  <span style="margin-left: 5px;">{{'Dawn('+dawn+')'}}</span>
</div>

